@page "/"
@using Microsoft.Extensions.Configuration

@inject IConfiguration _configuration
<PageTitle>Sergio Palomino</PageTitle>

@if (details is null)
{
    <section class="showcase ShowCaseMiddle">
        <h1>Loading . . . </h1>
    </section>
}
else
{
    <section class="showcase ShowCaseMiddle">
        <section class="nes-container with-title is-centered">
            <h3 class="title">@(details.Name)</h3>
            <ul id="menu">
                @foreach (var item in details.SelfDescriptions)
                {
                    <li>@item</li>
                    @:&nbsp;
                }
            </ul>
            <div id="sns-icons" class="item PaddingTop-25">
                <section class="icon-list">
                    @foreach (var link in details.Links)
                    {
                        <a href="@link.Url" target="_blank" rel="noopener noreferrer" aria-label="@link.Title">
                            <i class="nes-icon is-large @link.Icon" />
                        </a>
                        @:&nbsp;
                    }
                </section>
            </div>
            <div class="PaddingTop-25">
                <a href="files/Sergio Palomino CV.pdf">Résumé</a>
            </div>
        </section>
    </section>

}


@code
{
    private PersonalInformation details = default!;

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            details = _configuration.GetSection("PersonalInformation").Get<PersonalInformation>();

            StateHasChanged();
        }
    }
}